HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Sensitive Data ###
application.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Key files:
*.pem
*.csv
*.crt
*.key

#serverless folder
.serverless
.serverless/*
node_modules
node_modules/*
*/node_modules
*/node_modules/*

#enviromental variables for vue
.env
*.env
.env*

#packagedfiles:
dependency-reduced-pom.xml
packaged-template.yml
packaged.yaml
packaged.yml

#parameters file
parameters.json
parameters-old.json
cf-deploy-old

docker
pom.xml.versionsBackup