<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Player character</title>
    </head>

    <body>

        <h2>Welcome to start page</h2>
        <br>

        <h3>Your character is: </h3>

        <p action="/player/all" th:text="${player}"/>

        <!--Todo - Add a new character-->
        <form action="/player/add" method="post">
            <h3>Add character</h3>
            Character name: <input type="text" name="characterName"><br>
            <input type="submit" value="Submit">
        </form>


        <div>
            <form action="/user/registration" method="post">
                <h3>Add User</h3>
                User name: <input type="text" name="name">
                User email: <input type="email" name="email">
                User password:  <input type="password" name="password">
                User confirm password:  <input type="password" name="password">
                <br>
                <input type="submit" value="Submit">
            </form>

            <form action="/user/delete" method="delete">
                <h3>Delete User</h3>

                User email: <input type="email" name="email">
                <br>
                <input type="submit" value="Submit">
            </form>

        </div>


            <!--Logout button -->
            <br>
            <form name="logoutForm" th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>


        </div>

    </body>



</html>