<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>

<div class="topNav">
    <a href="login.html">Login</a>
</div>

        <h2>Welcome</h2>
        <br>
            <h3>Your character is: </h3>
            <!--/*@thymesVar id="character" type="java"*/-->
            <p action="/player/all" th:text="${player}"/>

            <h3>Your user is: </h3>
            <!--/*@thymesVar id="character" type="java"*/-->
            <p action="/user/" th:text="${user}"/>


        <div>

            <!--Logout button -->
            <br>
            <form name="logoutForm" th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>


        </div>

</body>
</html>