<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to MUD</title>
</head>
<body>

<div>
    <div>
        <h3>Character Info</h3>

    </div>

    <div>

        <!--Needs to be connected to method in controller-->
        <h3>Information</h3>

    </div>

    <div>
        <!--Need to be connected to method in controller-->
        <button name="submit" type="submit" value="0">Submit</button><br>

        <button name="submit" type="submit" value="0">Healer</button><br>

        <button name="submit" type="submit" value="0">Tavern</button><br>

        <button name="submit" type="submit" value="0">Fight</button><br>

        <button name="submit" type="submit" value="0">Flee</button><br>

        <button name="submit" type="submit" value="0">Town</button><br>
        
    </div>


</div>

</body>
</html>