<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Game</title>
</head>
<body>
<div>
    <div>
        <section name="main">
            <!--/*@thymesVar id="gameComments" type="java"*/-->
            <p th:text="${gameComments}">Game messages and information</p>


        </section>

        <btn type="submit" name="fight" th:value="${1}">Fight</btn>
        <btn type="submit" name="escape" th:value="${0}">Escape</btn>
        <btn name="travel">Travel</btn>
        <btn name="rest">Rest</btn>
        <btn name="tavern">Visit tavern</btn>
        <btn name="Yes">Yes</btn>
        <btn name="No">No</btn>

    </div>


    <div>
        <section name="playerInfo"></section>

    </div>

    <div>
        <section name="eventInfo"></section>

    </div>

</div>





</body>
</html>