<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Start Page</title>
    </head>

    <body>
        <h1>Your Account</h1>

        <div>
            <h3>Your character:</h3>
            <p th:text="${player}"/>

            <button name="submit" type="submit" value="0">Choose</button>
            <button name="delete" type="delete" value="0">Delete</button>

            <button name="play" type="button" th:action="playgame">Play</button>
            

        </div>

        <div>
            <form action="/user/registration" method="post">
                <h3>Add User</h3>
                User name: <input type="text" name="name">
                User password: <input type="text" name="password">
                User email: <input type="email" name="email">
                <br>
                <input type="submit" value="Submit">
            </form>

            <form action="/user/delete" method="post">
                <h3>Delete User</h3>
                User email: <input type="email" name="email">
                <br>
                <input type="submit" value="Submit">
            </form>

            <form action="/player/all" method="get">
                <h3>Get all characters</h3>
                Character name: <p th:text="${characterName}">No characters!!</p><br>
                <input type="submit" value="Submit">
            </form>
            <form action="/player/add" method="post">
                <h3>Add character</h3>
                Character name: <input type="text" name="characterName"><br>
                <input type="submit" value="Submit">
            </form>
            <form action="/player/delete" methods="delete">
                <h3>Delete character</h3>
                Character name: <input type="text" name="characterName"><br>
                <input type="submit" value="Submit">
            </form>


        </div>

    </body>



</html>