<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Player character</title>
    </head>

    <body>
        <h1>På denna sida väljer man en existerande karaktär, eller skapar en ny.</h1>

        <div>
            <div>
            <form action="/user/registration" method="post">
                <h3>Add User</h3>
                User name: <input type="text" name="name">
                User email: <input type="email" name="email">
                User password:  <input type="password" name="password">
                User confirm password:  <input type="password" name="password">
                <br>
                <input type="submit" value="Submit">
            </form>

            <form action="/user/delete" method="delete">
                <h3>Delete User</h3>

                User email: <input type="email" name="email">
                <br>
                <input type="submit" value="Submit">
            </form>

            </div>

            <form action="/player/all" method="get">
                <h3>Get all characters</h3>
                Character name: <p th:text="${characterName}">No characters!!</p><br>
                <input type="submit" value="Submit">
            </form>
            <form action="/player/add" method="post">
                <h3>Add character</h3>
                Character name: <input type="text" name="characterName"><br>
                <input type="submit" value="Submit">
            </form>
            <form action="/player/delete" method="delete">
                <h3>Delete character</h3>
                Character name: <input type="text" name="characterName"><br>
                <input type="submit" value="Submit">
            </form>

            <!--Logout button not working, sends to error page-->
            <br>
            <form name="logoutForm" th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>

        </div>

    </body>



</html>