<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/regStyle.css">
    <title>Registration</title>
</head>
<body>

<div class="topNav">
    <a class="active" href="#reg">Registration</a>
    <a href="login.html">Login</a>
</div>

<div class="reg">
    <h2>New User Registration</h2>
    <form action="/user/reg" th:object="${user}" method="POST" enctype="utf8">
        <div class="reg-form">
            <div class="input-section">
               <!-- <label for="fullName">
                    <span th:text="#{user.fullName}">Full name</span>


                </label>
                <input type="text" th:field="*{fullName}">-->


                <label th:text="#{user.fullName}">Full name</label>
                <input type="text" th:field="*{fullName}"/>
                <!--  <p th:each="error: ${#fields.errors('fullName')}"
                     th:text="${error}">Validation error</p>-->
            </div>
            <div class="input-section">
                <label>Email</label>
                <input class="email-input" type="email" th:field="*{email}"/>
                <!--  <p th:each="error : ${#fields.errors('email')}"
                     th:text="${error}">Validation error</p>-->
            </div>
            <div class="input-section">
                <label>password</label>
                <input type="password" th:field="*{password}"/>
              <!--  <p th:each="error : ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>-->
            </div>
            <div class="input-section">
                <label>confirm</label>
                <input type="password" th:field="*{matchingPassword}"/>
            </div>
            <button class="btn" type="submit">submit</button>
        </div>
    </form>

</div>

</body>
</html>